/* Page */

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

.top-container {
    background-color: #1F2937;
    color: #F9FAF8; 
}

.container {
    display: flex;
    flex-direction: column;
    padding: 25px 8rem 45px 8rem;
    gap: 35px;
    max-width: 950px;
    justify-content: stretch;
}

.header {
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: auto;
}

.logo {
    font-weight:900;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-right {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 15px;
}

.bellow-header {
    display: flex;
    gap: 50px;
}

.sign-up-button {
    padding: 9px 30px 9px 30px;
    border-radius: 6px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
}

.img-placeholder {
    width: 800px;
    height: 210px;
    background-color: grey;
    align-content: center;
    text-align: center;
}

/* Rounded cubes section */

.random-info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

#square-containers-row {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.square-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.square-box {
    width: 150px;
    height: 150px;
    border: #3882F6 solid 4px;
    border-radius: 12px;
}

.text {
    color: rgb(105, 105, 105);
}

/* Sign up and call to action */

.sign-up {
    background-color: #3882F6;
    padding: 33px 53px 33px 53px;
    margin: 50px;
    align-self: center;
    border-radius: 15px;
    color: #F9FAF8;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 800px;
}

.white-border {
    border: #F9FAF8 solid 2px;
    flex: 0 0 auto;
    max-height: 50px;
    margin: auto;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}