/* Page */

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Header */

.top-container {
    background-color: #1F2937;
    color: #F9FAF8; 
}

.container {
    display: flex;  
    flex-direction: column;
    padding: 0 2rem 100px 2rem;
    margin: auto;
    max-width: 950px;
    justify-content: stretch;
    align-items: stretch;
    gap:100px;
}

.header {
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 18px 0;
}

.logo {
    font-weight:1000;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-right {
    font-size: 17px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 15px;
}

.bellow-header {
    display: flex;
    gap: 50px;
}

.bellow-header-right>h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.bellow-header-right>p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    padding: 10px 33px 10px 33px;
    border-radius: 8px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: 1000;
}

.img-placeholder {
    width: 1000px;
    height: 240px;
    background-color: #787d83a6;
    align-content: center;
    text-align: center;
    font-size: large;
}

/* Rounded cubes section */

.middle-container {
    padding: 25px;
    margin-bottom: 33px;
}

.random-info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 950;
    text-align: center;
}

#square-containers-row {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 155px;
}

.square-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.square-box {
    width: 155px;
    height: 155px;
    border: #3882F6 solid 4px;
    border-radius: 12px;
}

.text {
    color: rgb(105, 105, 105);
    text-align: center;
    font-size: 18px;
}

/* Quote Section */

.quote-container-background {
    background-color: #E5E7EB;
    padding: 150px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    max-width: 900px;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: auto;
}

q {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
}

cite{
    font-size: 28px;
    color: #1F2937;
    font-weight: 800;
    font-style: normal;
    text-align: right;
}

/* Sign up and call to action */

.sign-up {
    background-color: #3882F6;
    padding: 33px 73px 33px 73px;
    margin: 50px;
    align-self: center;
    border-radius: 15px;
    color: #F9FAF8;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 120px;
    max-width: 1200px;
}

.white-border {
    border: #F9FAF8 solid 2px;
    flex: 0 0 auto;
    max-height: 50px;
    margin: auto;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}